<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
        <meta name="referrer" content="no-referrer">
        <title></title>
        <script src="/javascripts/mui.min.js"></script>
        <link href="/stylesheets/mui.min.css" rel="stylesheet"/>
        <script type="text/javascript" charset="utf-8">
            mui.init();
        </script>
    </head>
    <body>
    <div class="mui-content" style="max-width: 640px;margin: 0 auto;">
    <% if(data.length){ %>
            <ul class="mui-table-view">
                <% for(var i = 0;i < data.length;i++){ %>
                    <li class="mui-table-view-cell mui-media">
                        <a href="<%=data[i].url%>" target="_blank">
                            <img class="mui-media-object mui-pull-left" src="<%= data[i].imgPath %>">
                            <div class="mui-media-body" style="font-size: 16px;">
                                <%=data[i].title%>
                                <p class='mui-ellipsis'><button style="font-size: 12px;padding: 3px 10px;" type="button" class="mui-btn mui-btn-danger"><%=data[i].text%></button></p>
                            </div>
                        </a>
                    </li>
                <% } %>
            </ul>
        <% } else{%>
            <div style="text-align: center;padding: 0 20px;box-sizing: border-box;position: fixed;top: 200px;left: 0;width: 100%;">没有找到您搜索的内容<span>3</span>s后自动跳回首页<br/><a href="/">点击回到首页</a></div>
        <script>
            var time = setInterval(function () {
                if(document.querySelector("span").innerHTML == 1){
                    clearInterval(time);
                    window.location = "/";
                }
                document.querySelector("span").innerHTML -= 1;
            },1000);
        </script>
        <% } %>

    </div>
    </body>
</html>